.chart-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100vh;
  padding: 15px;
  background-color: #000;
  color: #fff;
}

.chart-container h2 {
  margin: 0;
  font-size: 24px;
  color: #fff;
}

.chart-manager {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chart-manager select {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: 1px solid #666;
  border-radius: 4px;
}

.chart-manager button, .chart-pass-btn {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  transition: all 0.3s ease;
}

.chart-manager button.selected, .chart-pass-btn {
  background-color: #555;
}

.chart-manager button:hover, .chart-pass-btn {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.chart-manager button:active, .chart-pass-btn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chart-scroll {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #666;
  border-radius: 4px;
  padding: 0 10px;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.chart-spacer {
  height: 30px;
}

.chart-item {
  padding: 8px 0;
  border-bottom: 1px solid #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.chart-item.swipe-hide {
  transform: translateX(100%);
  opacity: 0;
}

.chart-item-content {
  display: flex;
  gap: 5px;
  align-items: center;
}

.chart-word {
  font-size: 24px;
  min-width: 200px;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  flex: 3 1 0;
}

.chart-word.no-rt rt {
  display: none;
}

.chart-word rt {
  font-size: 0.7em;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.chart-exp {
  font-size: 18px;
  color: #ccc;
  flex: 2 1 0;
  padding: 4px 8px;
  border-radius: 4px;
}

.chart-pass-btn {
  height: 35px;
}