:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #dcdcdc;
  font-family: Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 auto;
  max-width: 430px;
  overflow: hidden;
}

select,
button,
textarea,
input[type="text"] {
  color: black;
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

input[type="text"] {
  padding: 0px 15px;
  height: 48px;
}

label {
  color: black;
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 5px;
  height: 60px;
  display: flex;
  align-items: center;
}